@import '../../style/required'
.g-pagination
  ul
    display inline-block
    padding-left 15px
    padding-right 15px
  li
    display inline-flex
    flex-wrap wrap
    margin 6px
    align-content center
    justify-content center
    border-radius 50%
    background $white
    width 35px
    height 35px
    &:hover
      border solid $nBrandSoft
    a
      outline none
      display inline-flex
      flex-wrap wrap
      text-align center
      align-content center
      justify-content center
      border-radius 50%
      background $white
      color $brand
      font-size 14px
      font-weight 600
      width 100%
      height 100%
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  .next, .previous
    border-radius 42px
    width 75px
    height 35px
    background $white
    color $brand
    font-size 14px
    font-weight 600

  .active
    a
      color $nBasicOne
      background $nBrandSoft
      border solid $nBrandSoft