@import '../../style/required'

.featured-properties-module
  padding-bottom 30px
  &__container
    position relative
    margin 0 -12px

    +responsive(xs)
      width calc(100% + 30px)
      position relative
      left -15px
      margin 0

  &__arrow
    position absolute
    top 0
    bottom 0
    margin auto
    width 40px
    height 40px
    background $white
    box-shadow(0 2px 15px 0 rgba(0, 0, 0, 0.1))
    border-radius(50%)
    flexbox(row, center, center)
    cursor pointer
    +responsive(xs)
      display none!important

    &.l 
      left 0px

    &.r 
      right 0px

    i 
      position relative
      top 2px
      font-size 20px

  &__items
    overflow hidden

  &__carousel
    transition(all 300ms)
    white-space nowrap
    padding-top 10px
    padding-bottom 10px
    height 380px
    +responsive(xs)
      transition(none)
      overflow-x scroll
      overflow-y hidden
      white-space nowrap
      transform(translateX(0)!important)
      -webkit-overflow-scrolling touch

      &:after 
        content ''
        width 15px
        height 100px
        display inline-block

    +responsive(xxs)
      transition(none)
      overflow-x scroll
      overflow-y hidden
      white-space nowrap
      transform(translateX(0)!important)
      -webkit-overflow-scrolling touch
      
      &:after 
        content ''
        width 15px
        height 100px
        display inline-block

  &__item
    display inline-flex
    justify-content left
    align-items center
    padding 0
    width 25.5%
    padding 0 12px

    a 
      display grid
    
    &:after
      width 100%

    +responsive(md-all)
      width 29.5%
    
    +responsive(lg)
      width 25.2%

    +responsive(sm)
      width 42%

    +responsive(xs)
      display inline-block
      padding 0
      margin-left 15px
      width 70%

    +responsive(xxs)
      width 80%
      padding 0
      margin-left 15px
      margin-right 15px
      display inline-block

