@import '../../style/required'

.hero-module
  background-color $white
  padding: 50px 0
  border-bottom 1px solid $gray

  +responsive(xs)
    padding-top 0
    padding-bottom 30px

  &__carousel
    +responsive(xs)
      height 210px
      border-radius 8px
      margin auto
      div
        border-radius 8px

  h1
    color $darker
    font-weight bold
    font-size 36px
    line-height 43px
    padding-bottom: 0
    margin-bottom 24px

    +responsive(xs)
      font-size 24px
      line-height 29px

  &__history
    &__title
      padding-bottom 10px
      display block
      font-weight 600
      font-size 13px
      line-height 16px
      color $darker

    .g-button
      margin-right 10px
      margin-bottom 10px

  &__autocomplete
    position relative
    z-index 9
    width 509px
    margin-bottom 20px

    +responsive(xs)
      width 100%
      .css-6lnn5x-control
        display flex
      .css-1wy0on6
        background $white
        order 1
      .css-1hwfws3
        order 2
      .g-autocomplete__icon
        color $nBrand

  &__notification
    flexbox()
    margin-bottom 10px
    +responsive(xs)
      margin-top 13px

    &__text 
      font-size 14px
      line-height 17px
      padding-left 9px