@import '../../style/required'

.g-type-card
  &__image
    height 115px
    border-radius(8px)
    background-size cover

  &__title
    text-align center
    font-weight 600
    color $nBasicTwo
    padding-top 6px
    font-size 16px
    
	