@import '../../style/required'

.locations-module
  background-color $white
  
  +responsive(xs)
    //padding-top 0
    //padding-bottom 30px
  &__title
    
  &__cardswrapper
    margin-top 10px
    
  &__item 
    width 25%
    min-width 190px
    display inline-block
    +responsive(md)
      width auto
    +responsive(sm)
      width auto
    +responsive(xs)
      width auto
    +responsive(xxs)
      width 100%

    &:last-child
      margin-right 0px
  .container
    padding 0
    
