@import '../../style/required'

.logo-module
  background-color $white
  &__container
    flexbox(row, flex-start, center)
    overflow-x: scroll
    overflow-y: hidden
    -webkit-overflow-scrolling:touch  
    padding: 12px 0
    &::-webkit-scrollbar
      display none
  
  &__item
    width 20%
    flex 0 0 20%
    min-width 180px
    img 
      width 100%
      display block