@import '../../style/required'

.g-property-type
    position relative
    display block
    border-radius(6px)
    overflow hidden
    min-height 200px
    box-shadow(0px 2px 6px rgba(0, 0, 0, 0.25))
    &:before 
      content ''
      display block
      height 200px

    > div, &__content, &__image
      position absolute
      left 0
      top 0
      width 100%
      height 100%
    
    &__container
      display flex
      justify-content center

    &__image
      background-size cover
      background-position center

    &__content
      flexbox(column, flex-start, center)
      color $nBasicTwo
      background rgba(255, 255, 255, 0.9)
      width 205px
      height 53px
      margin auto
      left auto
      top 130px
      border-radius(4px)
      +responsive(lg)
        width 180px
      +responsive(md)
        width 90%
      +responsive(xs)
        width 90%
      +responsive(xxs)
        width 90%

    &__title
      font-weight bold
      font-size 18px
      line-height 22px
      padding-bottom 3px
      margin-top 3px
      width 100%
      display flex
      span
        margin auto
        overflow hidden
        text-overflow ellipsis
      +responsive(xs)
        font-size 16px
        line-height 19px
      +responsive(xxs)
        font-size 16px
        line-height 19px

    &__subtitle
      font-weight 500
      font-size 15px
      line-height 18px

      +responsive(xs)
        font-size 13px
        line-height 16px
      +responsive(xxs)
        font-size 13px
        line-height 16px