@import '../../style/required'

.citydetails-module
  background-color $white
  padding: 16px 16px
  border 1px solid $borderGray
  border-radius 8px
  +responsive(sm)
    margin-left 5px
    margin-right 15px
    margin-bottom 30px
  +responsive(xs)
    margin-left 5px
    margin-right 15px
    margin-bottom 30px
  +responsive(xxs)
    margin-left 5px
    margin-right 15px
    margin-bottom 30px

  .city-name
    font-weight: 500
    font-size 24px
  .bread-crum 
    font-size 12px
    color $green
  .description
    font-size 14px
    margin-top 12px

  .heading2
    font-size 14px
    font-weight 500
    margin-top 20px

  &__cardswrapper
    margin-top 10px
    

  &__item 
    margin-right 10px
    margin-bottom 10px 
    width 30%
    display: inline-block