@import '../../style/required'

.g-seo-card
    position relative
    margin-bottom 24px
    &__content
      flexbox(column, flex-start, flex-start)
      
    &__title
      padding 12px 0
      color $lightBlack
      font-size 21px
      line-height 25px
      font-weight 600
      
    &__description
      color $lightBlack
      font-weight normal
      font-size 16px
      line-height 140%
      -webkit-line-clamp 5
      -webkit-box-orient vertical
    +responsive(xxs)
      display -webkit-box
      -webkit-line-clamp 10
      -webkit-box-orient vertical

