@import '../../style/required'

.g-help-card
    position relative
    display block
    overflow hidden
    
    &__image
      background-size cover
      background-position center
      width 84px
      height 84px
      margin 0 auto
    &__content
      flexbox(column, flex-end, center)
      
    &__title
      margin-top 19px
      font-weight bold
      font-size 24px
      line-height 28px
      color $nBasicTwo
      font-feature-settings 'pnum' on, 'lnum' on

      +responsive(xs)
        font-size 21px
        line-height 19px
      +responsive(xxs)
        font-size 21px
        line-height 19px
        
    &__subtitle
      margin-top 19px
      font-weight 500
      font-size 16px
      line-height 130%
      text-align center
      overflow hidden
      display -webkit-box
      -webkit-line-clamp 4
      -webkit-box-orient vertical
      color $lightBlack

      +responsive(xs)
        font-size 16px
        line-height 100%
      +responsive(xxs)
        font-size 16px
        line-height 100%
    &__buttonwrapper
      flexbox(row, center, center)
      margin-top 19px
    &__button
      background $nBrandDark
      box-shadow(0px 4px 12px rgba(0, 0, 0, 0.25))
      border-radius(8px)
      color $white
      font-weight bold
      font-size 18px
      line-height 22px
      width 177px
      padding 12px 0
      border 0px
      
    // .g-help-button-wrapper
    //   width 100%
    //   display flex
    //   align-items center
    //   justify-content center
    //   font-feature-settings 'pnum' on, 'lnum' on
      

    //   .g-help-button
    //     background $nBrandDark
    //     box-shadow(0px 4px 12px rgba(0, 0, 0, 0.25))
    //     border-radius(8px)
    //     color $white
    //     font-weight bold
    //     font-size 18px
    //     line-height 22px
    //     font-feature-settings 'pnum' on, 'lnum' on
    //     padding 10px 0px 12px 0px
    //     width 177px
    //     height 45px
    //     border 0px
    //     margin-top 22px
    //     cursor pointer
    //         