@import '../../style/required'

.propertytypes-module
  background-color $nBasicFive
  padding: 15px 0 0
  border 1px solid $nBasicFour
  border-radius 8px

  +responsive(sm)
    margin-left 15px
    margin-right 15px
  +responsive(xs)
    margin-left 15px
    margin-right 15px
  +responsive(xxs)
    margin-left 15px
    margin-right 15px

  .title
    font-weight: 500
    font-size 24px
    margin-bottom 20px
    margin-left 18px

    +responsive(lg)
      margin-left 18px
    +responsive(md)
      margin-left 18px

  &__cardswrapper
    margin-top 10px
    

  &__item 
    margin-bottom 16px 
    display inline-block
    margin-left auto
    margin-right auto
    width 25%
    padding-left 18px
    padding-right 18px

    +responsive(lg)
      margin-left auto
      margin-right auto
      width 25%
      padding-left 18px
      padding-right 18px
    +responsive(md)
      margin-left auto
      margin-right auto
      width 25%
      padding-left 18px
      padding-right 18px
    +responsive(sm)
      margin-left auto
      margin-right auto
      width 25%
      padding-left 18px
      padding-right 18px
    +responsive(xs)
      margin-left auto
      margin-right auto
      width 25%
      padding-left 18px
      padding-right 18px
    +responsive(xxs)
      margin-left auto
      margin-right auto
      width 50%
      padding-left 15px
      padding-right 15px