@import '../../../style/required'

.g-form-phone-input
  position relative
  flexbox(row, flex-start, center)
  border-radius(4px)
  border 1px solid $basicFour
  background $white
  height 42px
  &__country-item
    display flex
    align-items center
    border-radius 4px
    .country-name
      margin-left 11px
  &__country-select
    height 42px
    min-width 52px
    position static !important
    border-radius 0
    .css-1hwfws3
      padding 0
    .css-l9ttwz-control
      border-radius(4px 0 0 4px)
    .css-wgkkoa-control
      border-radius(4px 0 0 4px)
    .css-tlfecz-indicatorContainer
      padding 0
    .css-1gtu0rj-indicatorContainer
      padding 0
    .css-17rus17-ValueContainer
      padding 0
      width 32px
      position static
    .css-eem7gi-singleValue
      max-width none
  &__number
    position relative
    flexbox(row, flex-start, center)
    border-radius(4px)
    background $white
    overflow hidden
    height 40px
    width 100%
    &.error
      border-color $red
    input 
      font-size 15px
      line-height 18px
      color $basicOne
      display block
      outline 0
      border 0
      border-radius(0)
      padding 0 15px
      width 100%
      height 40px
      +placeholder()
        color $basicThree
    &__suffix
      font-weight 500
      font-size 15px
      line-height 18px
      color $basicThree
      padding 0 12px
