@import '../../style/required'

.g-grid-gallery
  padding-bottom 41%
  position relative
  max-height 700px
  +responsive(xs)
    padding-bottom: 0
    min-height unset
    flexbox(row, flex-start, center)
    overflow auto
  > div 
    position absolute
    background-size cover
    cursor pointer
    &:before 
      content ""
      display block
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background rgba($brandDark, 0.4)
      opacity 0
      transition(all 300ms)

    +responsive(xs)
      position relative!important
      left 0!important
      right auto!important
      height 100%!important
      width 100%!important
      flex 0 0 100%
      padding-bottom 56.25%
      border 0!important
    
    &:hover 
      &:before 
        opacity 1

    &:first-child 
      height 100%
      left 0
      top 0
    
  &.grid5 
    > div:nth-child(1) 
      width 50%
      border-right 2px solid $white
    
    > div:nth-child(2),
    > div:nth-child(3),
    > div:nth-child(4),
    > div:nth-child(5) 
      width 25%
      height 50%
    
    > div:nth-child(2) 
      left 50%
      top 0
      border-right 2px solid $white
      border-bottom 2px solid $white
    
    > div:nth-child(3) 
      left 50%
      top 50%
      border-right 2px solid $white
    
    > div:nth-child(4) 
      left 75%
      top 0%
      border-bottom 2px solid $white
    
    > div:nth-child(5) 
      left 75%
      top 50%
    
  
  &.grid4 
    > div 
      width 50%
      height 50%
    
    > div:nth-child(1) 
      border-right 2px solid $white
      border-bottom 2px solid $white
    
    > div:nth-child(2) 
      left 50%
      top 0
      border-bottom 2px solid $white
    
    > div:nth-child(3) 
      left 0%
      top 50%
      border-right 2px solid $white
    
    > div:nth-child(4) 
      left 50%
      top 50%
    
  
  &.grid3 
    > div:nth-child(1) 
      width 50%
      border-right 2px solid $white
    
    > div:nth-child(2) 
      left 50%
      top 0
      height 50%
      width 50%
      border-bottom 2px solid $white
    
    > div:nth-child(3) 
      height 50%
      width 50%
      left 50%
      top 50%
      border-right 2px solid $white
    
  
  &.grid2 
    > div:nth-child(1) 
      width 50%
      border-right 2px solid $white
    
    > div:nth-child(2) 
      left 50%
      top 0
      height 100%
      width 50%
    
  
  &.grid1 
    > div 
      width 100%
  
  


