@import '../../style/required'

.g-property-details-card
  width 95%
  max-width 300px
  box-shadow(0px 1px 15px rgba(0, 0, 0, 0.2))
  border-radius(6px)
  +responsive(xs)
    width 95%
  +responsive(xxs)
    width 95%

  &__content
    display block

  &__carousel
    padding-bottom 66%
    position relative
    overflow hidden
    max-height 200px
    min-height 200px
    border-radius(4px 4px 0 0)

    &__list
      position absolute
      left 0
      top 0
      height 100%
      width 100%
      flexbox(row, flex-start, stretch)
      transition(transform 300ms)

      > div
        width 100%
        flex 0 0 100%
        background-size cover
        background-position center

    &:hover
      .slider-arrow
        opacity: 1

  .slider-arrow
    position: absolute
    top: 0
    height: 100%
    z-index: 2
    flexbox(row, center, center)
    display flex!important
    font-size 24px
    color: $white
    padding: 5px
    opacity: 0
    transition(all 300ms)
    cursor pointer
    &.slider-arrow-prev
        left: 0

    &.slider-arrow-next
        right: 0

  &__contentwrapper
    padding 10px 15px
    border-radius(0 0 4px 4px)
    display grid
    grid-template-rows 24% auto 20% 40%
    height 162px

  &__image
    padding-bottom 60%
    background-size cover
    background-position center
    margin-bottom 10px
    border-radius(6px 6px 0 0)

  &__title
    color $nBasicOne
    font-weight bold
    font-size 21px 
    padding-bottom 5px
    line-height 25px
    display block
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

  &__location
    display block
    font-size 15px 
    font-weight normal
    color $nBasicTwo
    line-height 18px
    padding-bottom 10px
    lineClamp(2)
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

  &__footer
    flexbox()
    margin-bottom 8px

  &__price
    font-size 21px
    line-height 25px
    font-weight bold
    color $nBasicTwo
    padding-right 15px

  &__sqm
    font-weight 500
    font-size 15px
    line-height 18px
    color $nBrand
    
.g-property-card-features
    cursor pointer
    background-color $white
    border 1px solid $nBasicFour
    border-radius 4px
    padding 0 12px
    height 29px
    display inline-flex
    margin-bottom 15px
    
    &__feature:first-child
      margin-left 0
    &__feature:last-child
      border-right none
    &__feature
      height 28px
      min-width 40px
      font-size 11px
      line-height 13px
      text-align center
      display flex
      border-right 1px solid $nBasicFour
      margin-left 10px
      flex-direction row
      justify-content center
      align-items center
    &__icon
      width auto
      height auto
    &__title
      color: $nBrandDark
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      margin 0 10px
      font-weight 500
      line-height 18px
      font-size 15px
      +responsive(xs)
        font-size 12px 
      +responsive(xxs)
        font-size 12px 
