@import '../../style/required'

.g-accordion-component
    background $white
    &__title
        font-style normal
        font-weight 600
        font-size 21px
        line-height 25px
        color $nBasicTwo
        width 100%
        text-align left
        padding 16px 0
        border 0
    &__icon
        padding-left 10px
    &__collapse
        display none
        padding-top 8px
        &.in
            display block