@import '../../style/required'

.g-lightbox-gallery
  padding-bottom 41%
  position relative
  max-height 700px
  &__full 
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    z-index 99
    background rgba($basicOne, 0.4)
    &__container
      width 70%
      height 70%
      position absolute
      left 0
      top 0
      right 0
      bottom 0
      margin auto
      padding-bottom 0

    .lightbox-close 
      position absolute
      right 15px
      top 15px
      color $white
      font-size 40px
      cursor pointer

    .lightbox-arrow 
      position absolute
      top 50%
      transform(translateY(-50%))
      color $white
      font-size 50px
      cursor pointer
      &-left
        left 15px

      &-right
        right 15px
    
  
  


