@import '../../style/required'

.g-property-card
    margin-bottom 30px
    display block
    +responsive(xs)
      &.small 
        & ^[0]__content
          flexbox(column, flex-start, flex-start)

        & ^[0]__title
          font-size 14px
          line-height 1.5

        & ^[0]__price
          font-size 12px

        & ^[0]__location
          display none

        & ^[0]__sqm
          font-size 11px

        & ^[0]__features
          font-size 11px
          order -1
          padding-bottom 5px

    &__content
      display block

    &__carousel
      padding-bottom 60%
      margin-bottom 10px
      border-radius(6px)
      position relative
      overflow hidden

      &__list
        position absolute
        left 0
        top 0
        height 100%
        width 100%
        flexbox(row, flex-start, stretch)
        z-index 1
        transition(transform 300ms)

        > div
          width 100%
          flex 0 0 100%
          background-size cover
          background-position center

      &:hover
        .slider-arrow
          opacity: 1

    .slider-arrow
      position: absolute
      top: 0
      height: 100%
      z-index: 2
      flexbox(row, center, center)
      display flex!important
      font-size 24px
      color: $white
      padding: 5px
      opacity: 0
      transition(all 300ms)
      cursor pointer
      &.slider-arrow-prev
          left: 0

      &.slider-arrow-next
          right: 0

    &__image
      padding-bottom 60%
      border-radius(6px)
      background-size cover
      background-position center
      margin-bottom 10px

    &__location
      color $brand
      font-weight 500
      font-size 13px 
      padding-bottom 3px
      line-height 1.4
      display block

    &__title
      display block
      font-size 21px 
      font-weight bold
      color $darker
      line-height 1.4
      padding-bottom 6px
      lineClamp(2)

    &__features
      padding-bottom 10px
      color $orange
      font-size 15px
      font-weight 500
      line-height 1.4
      maxOneLine()

    &__footer
      flexbox()

    &__price
      font-size 18px
      font-weight bold
      color $darker
      padding-right 15px

    &__sqm
      font-weight 500
      font-size 15px
      color $brand
      opacity 0.78
