@import '../../style/required'

.seo-module
  background-color $white
  padding 0
  +responsive(sm)
    padding-left 15px
    padding-right 15px
  +responsive(xs)
    padding-left 15px
    padding-right 15px
  +responsive(xxs)
    padding-left 15px
    padding-right 15px
 
  &__cardswrapper
    margin-top 10px
    display grid
    width 100%
    padding 0
    text-align left
    grid-column-gap 45px
    +responsive(lg)
      grid-template-columns 1fr 1fr
    +responsive(md)
      grid-template-columns 1fr 1fr
      padding 0
    // +responsive(sm)
    +responsive(xs)
      grid-template-columns 1fr
    +responsive(xxs)
      grid-template-columns 1fr
    
  &__item 
    width 100%
    min-width 190px
    display inline-block

    +responsive(sm)
      width 48%
      margin-right 10px

     +responsive(xs)
      width 100%
      margin-right 0px 
    +responsive(xxs)
      width 100%
      margin-right 0px

    &:last-child
      margin-right 0px
  .container
    padding 0
