@import '../../style/required'


.banner-module
  padding 115px 60px
  min-height 470px
  background-size cover
  background-position center
  color $white

  &--full
    padding 115px 0

  &--dark
    color $dark

  +responsive(xs)
    min-height auto
    padding 30px 15px 130px 15px

    &--full
      padding 30px 0 130px 15px

  &__small-text
    font-weight 600
    font-size 18px
    line-height 1.3

    +responsive(xs)
      font-size 13px

  &__title
    font-weight bold
    font-size 54px
    line-height 1.2
    padding-bottom 15px

    +responsive(xs)
      font-size 24px

  &__description
    font-size 24px
    line-height 1.2
    padding-bottom 15px

    +responsive(xs)
      font-size 16px

  &__big-text
    font-size 42px
    line-height 1.2
    padding-bottom 15px

    +responsive(xs)
      font-size 24px


  .g-button 
    padding 10px 35px