@import '../../style/required'

.g-country-item
  background transparent
  flexbox(row, flex-start, center)
  height 32px
  user-select()
  overflow hidden


  &__image
    width 22px
    height 15px
    background-size cover
    background-position center


  &__content
    flexbox(row, flex-start, center)
    overflow hidden
    flex 1
    margin-left 10px

    

  &__title
    display block
    font-size 16px
    font-weight normal
    color $nBasicTwo
    line-height 198.7%
    maxOneLine()

    +responsive(xs)
      padding-bottom 4px
    +responsive(xxs)
      padding-bottom 4px

  &__sub
    display block
    font-weight normal
    font-size 13px
    line-height 198.7%
    maxOneLine()
    color #7F8989
    margin-left 2px

    +responsive(xs)
      white-space normal
      lineClamp(2)
    +responsive(xxs)
      white-space normal
      lineClamp(2)