@import '../../style/required'

.country-module
  background-color $white

  +responsive(lg)
    padding-left 30px
    padding-right 30px
  +responsive(md)
    padding-left 30px
    padding-right 30px
  +responsive(sm)
    padding-left 15px
    padding-right 15px
  +responsive(xs)
    padding-left 15px
    padding-right 15px
  +responsive(xxs)
    padding-left 15px
    padding-right 15px
  
  +responsive(xs)
    //padding-top 0
    //padding-bottom 30px
  &__title
    
  &__cardswrapper
    margin-top 10px
    
  &__item 
    width 25%
    min-width 190px
    display inline-block
    +responsive(sm)
      width 33%
    +responsive(xs)
      width 33%
    +responsive(xxs)
      width 100%

    &:last-child
      margin-right 0px
  .container
    padding 0
    
