@import '../../style/required'

.g-district-card
    position relative
    display block
    border-radius(3px)
    overflow hidden
    min-width 154px
    +responsive(lg)
      min-width 130px
    +responsive(xxs)
      min-width -webkit-fill-available
    +responsive(xxs)
      min-width -webkit-fill-available
    
    &:before 
      content ''
      display block
      height 115px

    > div, &__content, &__image
      position absolute
      left 0
      top 0
      width 100%
      height 100%

    &__image
      background-size cover
      background-position center

    &__content
      background linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      flexbox(column, flex-end, flex-start)
      color $white
      padding 6px
      height 50px
      top 57.61%

    &__title
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      +responsive(xs)
        font-size 16px
        line-height 19px
      +responsive(xxs)
        font-size 16px
        line-height 19px

